extends ../layout.pug

block prepend styles
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
    div(class='breadcrumb')
    h1  Доставка на планету
    div(class='form-group')
    form(method='POST' action='/DeliveryToThePlanet' )
        label(for='OurPlanets') Планета,на яку потрібно доставити вантаж
        select#OurPlanets(name = 'index')
            each val, index in data2
                option=(index+1) +'. Назва: ' + val.name + ', маса: ' + val.mass + ', місткість: ' + val.capacity
        label(for='OurCargo') Вантаж
            select#OurCargo(name = 'index')
                each val, index in data
                    option= (index+1) + '. Код: ' + val.cod + ', назва: ' + val.name + ', маса: ' + val.mass
        button.btn.btn-primary(type='submit') Доставити
        p= newText
        br
        br

block append scripts
    script(src='/static/js/models/shop.js')
    script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='/static/js/views/shop.js')

