extends ../layout.pug

block prepend styles
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
    div(class='breadcrumb')
    h1  Перевезення зі станції на станцію
    div(class='form-group')
    form(method='POST' action='/DeliveryFromStationToTheStation' )
        label(for='Station1') Станція,на яку потрібно перевезти
        select#Station1(name = 'index')
            each val, index in data2
                option=(index + 1) + '. Номер:' + val.number + '. Місткість:' + val.capacity + '. Потреба:' + val.necessity
        label(for='Station2') із станції
        select#Station2(name = 'index')
            each val, index in data
                option=(index + 1) + '. Номер:' + val.number + '. Місткість:' + val.capacity + '. Потреба:' + val.necessity
        button.btn.btn-primary(type='submit') Перевезти
        p= newText2
        br
        br
block append scripts
    script(src='/static/js/models/shop.js')
    script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='/static/js/views/shop.js')

