include ./mixins/navbar
//include ./pages/planets
doctype html
html
    head
        title Lab2

    body
                +nav_item( '/planets.pug' ) Space station
                +nav_item( '/' ) Planets
                +nav_item( '/' ) Planets
                +nav_item( '/' ) Planets
                +nav_item( '/' ) Planets
                +nav_item( '/' ) Planets